APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=crm_produto
DB_USERNAME=crm
DB_PASSWORD=

MAIL_FROM="CRM Produto <no-reply@crm.exemplo.com>"
MAIL_REPLY_TO=suporte@crm.exemplo.com

API_KEY=
WEBHOOK_SECRET=
